$COLOR_WHITE: #FFF;
$COLOR_BLACK: #262626;

$FOOTER_HEIGHT: 60px;
$FOOTER_HEIGHT_SP: 40px;

$FONT_SIZE_SMALL: 0.8em;
$FONT_SIZE_VERY_SMALL: 0.75em;
$FONT_SIZE_VERY_LARGE: 8em;

$MARGIN_MIDDLE: 20px;


// メディアクエリー用定数、これ以下はスマートフォンと判定
$MEDIA_MD : 640px;
